.container{
    background-color: azure;
    max-width: 1100px;
    margin:0 auto ;
}


.sectionss{
    display: flex;
    justify-content: space-around;
}

#a4{
    display: flex;
    flex-direction: column;

}

.playerBox{
    background-color: blueviolet;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-items: center;
    padding: 8px;
}
#a2{
    background-color: antiquewhite;
    border-radius: 8px;
}

.daisBox{
    background-color: aqua;
    padding: 0 20px;
    border-radius: 8px;
    margin:5px 0;
}

#a3{
    background-color: antiquewhite;
    border-radius: 8px;
    margin-top: 5px;

}
#rolB{
    height: 100px;
    border-radius: 8px;
    background-color: blue;
      margin-top: 8px;
}

#paasB{
    height: 100px;
    border-radius: 8px;
    background-color: brown;
    margin-top: 8px;

}